@font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

html {
    height: 100%;
  }

body {
    margin: 0 auto;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    background-color;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    width: 1200px;
    background-color: #ffffff;
    color: inherit;
    margin: 0 auto;
}

.navigation-menu {
    display: flex;
    margin: 0 auto;
    width: 1060px;
}

.page-header-logo-img {
    margin-right: auto;
    display: block;
    width: 139px;
}

.navigation-list {
    list-style-type: none;
    display: flex;
    max-width: 480px;
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    text-align: center;
    display: block;
}

.navigation-item {
    padding: 20px 17px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}

.navigation-item:last-child {
    padding-right: 62px;
}

.navigation-actions {
    display: flex;
    max-width: 300px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: auto;
}

.navigation-search-link {
    background-image: url(../images/header-search.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: block;
}

.navigation-favourites-link {
    background-image: url(../images/header-favorites.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 17px;
    display: block;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.main-banner {
    background-image: url("../images/main-triangles.svg"), url("../images/main-banner-background.jpg");
    background-position: center bottom, center;
    background-repeat: no-repeat, no-repeat;
    background-color: #ffffff;
    color: #000000;
    background-size: 100% auto;
    width: 1200px;
    height: 485px;
    text-align: center;
}

.main-description {
    width: 1200px;
}

.main-description-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 63px 290px 31px;
    margin: 0;
    text-align: center;
}

.main-description-text {
    font-size: 22px;
    line-height: 26px;
    padding: 0 273px 90px;
    margin: 0;
    text-align: center;
}

.main-container {
    flex-grow: 1;
}

/* Преимущества*/

.advantages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.advantages-item {
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
    height: 384px;
}

.advantages-item-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.advantages-item-text {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}

.advantages-item-blue {
    background-color: #82B3D3;
    color: #ffffff;
}

.advantages-item-house {
    background-image: url(../images/advantages-living.svg);
    background-repeat: no-repeat;
}

.advantages-item-food {
    background-image: url(../images/advantages-food.svg);
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.advantages-item-souvenirs {
    background-image: url(../images/advantages-souvenirs.svg);
    background-repeat: no-repeat;
}

.advantages-item-img {
    background-color: #ffffff;
    color: #000000;
    display: block;
}

.advantages-item-light-blue {
    background-color: rgba(131, 179, 211, 0.2);
}

.search {
    width: 1200px;
    height: 417px;
}

.search-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 91px 451px 29px;
}

.search-text {
    font-size: 22px;
    line-height: 26px;
    padding: 0 304px 56px;
    text-align: center;
}

.search-button {
    font-size: 20px;
    line-height: 36px;
    width: 574px;
    border: #000000;
    padding: 12px 15px;
    margin: 0 313px 93px;
    text-align: center;
}

.subscribe {
    background-image: url(../images/subscribe-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 1200px;
    height: 411px;
    color:#ffffff;
    background-color: #82B3D3;
}

.subscribe-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 94px 398px 29px;
    margin: 0;
}

.subscribe-text {
    font-size: 22px;
    line-height: 26px;
}

.subscribe-button {
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    border-radius: 10px;
}

.page-footer {
    width: 1200px;
    height: 120px;
    background-color: #ffffff;
    margin: 0 auto;
}

.page-footer-container {
    width: 1060px;
    display: flex;
    margin: 0 auto;
    padding: 40px 70px 30px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.footer-social-list {
    display: flex;
    width: 142px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 41px;
   }

.footer-social-item-vk,
.footer-social-item-telegram,
.footer-social-item-youtube {
    width: 47px;
    padding: 0;
    margin: 0;
}

.footer-vk-img {
    display: block;
    padding: 13px 11px;
}

.footer-telegram-img {
    display: block;
    padding: 12px 14px;
}

.footer-youtube-img {
    display: block;
    padding: 11px 12px;
}

.footer-phone-link {
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    text-decoration: none;
    color: #000000;
    width: 720px;
    margin-left: 41px;
    margin-right: 41px;
    text-align: center;
    padding: 40px 41px 30px 41px;
    display: block;
}

.copyright-logo-img {
    width: 115px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 41px;
    }


/*Страница каталога */

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.filter-container {
    width: 1051pz;
    height: 298px;
    padding: 70px;
    padding-top: 35px;
}

.main-inner-title {
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
    margin: 0;
    margin-bottom: auto;
    margin-right: auto;
    padding: 0;
}

.filter {
    background-image: url(../images/filter-background.jpg);
    display: block;
    margin: 0;
    background-repeat: no-repeat;
    background-color: #82B3D3;
    background-size: cover;
    color: #ffffff;
    width: 1191px;
    height: 403px;
}

.main-inner-breadcrumbs-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 110px;
}

.main-inner-breadcrumbs-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.breadcrumbs-house-img {
    background-image: url("../images/breadcrumbs-house.svg");
    background-repeat: no-repeat;
    display: block;
}

.filter-catalog {
    display: flex;
}

.filter-fieldset-group {
    border: none;
}

.filter-fieldset-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filter-fieldset-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}

.price-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}

.button-filter-submit {
    width: 160px;
    background-color: #82B3D3;
    color: #ffffff;
}

.button-filter-reset {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: capitalize;
    background-color: transparent;
    border: none;
}

.catalog {
    width: 1200px;
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.catalog-results-wrapper {
    display: flex;
    width: 1057px;
    justify-content: space-between;
    margin: 0;
    padding: 50px 71px 56px 72px;
}

.catalog-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.catalog-title-div {
    width: 338px;
    margin-right: 191px;
}

.catalog-sorting-select-control {
    color: #333333;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    width: 286px;
    border: #E5E5E5;
    border-radius: 4px;
    margin-right: 81px;
}

.catalog-sorting-view-list{
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    padding: 0;
    width: 160px;
}

.catalog-hotel-cards-list {
    list-style-type: none;
    width: 1056px;
    display: flex;
    margin: 0 auto;
    padding: 0;
    flex-wrap: wrap;
}

.button-catalog-sorting-cards {
    background-image: url(../images/catalog-sorting-view-1.svg);
    background-repeat: no-repeat;
}

.button-catalog-sorting-element {
    background-image: url(../images/catalog-sorting-view-2.svg);
    background-repeat: no-repeat;
}

.button-catalog-sorting-list {
    background-image: url(../images/catalog-sorting-view-3.svg);
    background-repeat: no-repeat;
}

.catalog-hotel-cards-item {
    width: 340px;
    height: 438px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.hotel-cards-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin: 0;
    padding: 0 20px 16px 20px;
}

.hotel-cards-img {
    width: 300px;
    height: 211px;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    padding-bottom: 16px;
    display: block;
}

.catalog-hotel-cards-link {
    color: #000000;
    text-decoration: none;
    display: block;
}

.cards-text-wrapper {
    width: 300px;
    padding: 0 20px 16px 20px;
    display: flex;
}

.catalog-hotel-cards-description {
    color: #333333;
    margin: 0;
    margin-right: auto;
    padding: 0;
    width: 140px;
 }

 .catalog-hotel-cards-price {
    color: #333333;
    margin: 0;
    margin-left: auto;
    padding: 0;
    width: 140px;
 }

.cards-buttons-wrapper {
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 16px 20px;
}

.button-catalog-hotel {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    width: 140px;
    padding: 9px 15px 8px 15px;
    margin-right: 20px;
}

.button-hotel-cards {
    background-color: #82B3D3;
    width: 140px;
}

.button-hotel-cards-fav {
    background-color: #7DB54F;
    width: 140px;
}

.cards-ranking-wrapper {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.catalog-hotel-cards-stars-description {
    background-color: #F2F2F2;
    color: #333333;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    width: 140px;
    padding: 9px 22px 8px 23px;
    margin: 0;
 }

.img-wrapper {
    width: 140px;
    padding: 10px 50px 10px 0;
    margin-left: 20px;
    margin-right: 20px;
}

.catalog-hotel-cards-stars-img {
    display: block;
}

.catalog-pagination {
    width: 400px;
    display: flex;
    margin-right: auto;
}

.catalog-pagination-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 400px;
}

.catalog-pagination-item {
    width: 60px;
    background-color:#82B3D3;
    padding: 11px 24px 12px 23px;
    margin-right: 8px;
    border-radius: 4px;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #000000;
}

.pagination-view-more {
    background-image: url(../images/pagination-show-more.svg);
    background-repeat: no-repeat;
}

.pagination-select-control-wrapper {
    width: 1056px;
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
}

.select-control-group {
    display: flex;
    width: 386px;
}

.select-control-text {
    color: #333333;
}

.subscribe-inner {
    width: 1200px;
    height: 411px;
    text-align: center;
}

.subscribe-title-inner {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 94px 398px 29px 398px;
    text-align: center;
}

.subscribe-text {
    padding: 0 361px 46px 363px;
}

.field {
    width: 600px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 10px;
    padding: 20px 491px 19px 22px;
}
